<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        .footer {
            height: max;
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(145, 130, 131);
          color: white;
          text-align: center;
          text-decoration: none;
          font-size: xx-large;
        }
        </style>
  <div class="footer">3 </div>
  
</body>
</html>