<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit page</h1>

    <form action="/cars/<%= car._id %>?_method=PUT" method="POST">
        <label for="">Link </label>
        <input type value="insert" name="link"> <br>
        <label for="">description</label>
        <input type="text" name="title">
        <input type="submit" value="upload">
</body>
</html>