<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>car</title>
</head>
<body>
	<h1>Show Page working</h1>
	<img src="<%= car.link %>"  >
	

	<form action="/cars/<%= car.id %>?_method=DELETE"
		class="delete-form" method="POST">
		<button type="submit">Delete Post</button>
	  </form>

	  <a href="/cars/<%= car._id %>/edit">edit post</a>


	
</body>
</html>